* {
    padding: 0;
    margin: 0;
}

/* body{
font-size:14px;
background-color:#F9FCFD;
} */

.highlight {
    background-color: #FCFFD7;
}

.qselected {
    background-color: #FFEBD7;
}

#check_answer {
    display: inline-block;
    width: 100%;
    padding: 0.5em 1em;
    margin: 0.75em 0;
    color: #fff;
    font-size: 1em;
    background-color: #02A650;
    border: 1px solid #02A650;
    outline: none;
}

.div_topic {
    padding: 0.5em;
    border-bottom: 1px dashed #73AFD0;
    background-color: #F9FCFD;
}

.div_topic.odd {
    background-color: #E0EEF5;
}

.div_topic h4 {
    font-size: 1em;
    color: #22536A;
    display: block;
    padding: 0.5em;
}

.div_topic p {
    display: block;
    font-size: 1em;
    padding: 0.5em;
    display: flex;
    align-items: center;
}

.tof_div {
    display: block;
    padding: 0.5em;
}

.div_topic h4 span {
    padding-left: 1.5em;
    color: #FF0000;
    display: none;
}

.op_answer {
    padding-left: 1.5em;
    color: #FF0000;
    display: none;
}

.tof_option {
}

.tof_input {
}

#answer_last {
    width: 150px;
    padding: 10px;
    background-color: #FFCC00;
    border: 1px dashed #888313;
    position: fixed;
    right: 0px;
    top: 42px;
    display: none;
}

#topic_num {
    width: 30px;
    text-align: center;
}

#topic_right {
    float: right;
    margin-right: 10px;
}

#status {
    color: #FF0000;
    font-size: 1em;
    font-weight: bold;
}

#Fen {
    /* width: 155px; */
    text-align: center;
}

#XS {
    font-size: 30px;
}

#PINGMU {
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    width: 4.5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    background: rgba(255,201,184,0.55);
    /*margin: 0px 0px 0px 0px;*/
    /*position: relative;*/
    /* border: 2px solid orange; */
    /*padding: 2cm 2cm 2cm 2cm;*/
}
    
    

